.no-bot-selected-text {
  color: #000;
  text-align: center;
  font-family: Sarpanch;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.selected-bot-detail-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 747px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 100.5px;
  background: #2B688A;
  box-sizing: border-box;
  overflow: hidden;
}

.selected-bot-detail-image-container {
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 100.5px;
  background: #50BCE5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.selected-bot-img {
  width: 98px;
  height: 98px;
  object-fit: cover;
}

.selected-bot-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.selected-bot-name {
  display: flex;
  justify-content: left;
  color: #FFF;
  text-align: center;
  font-family: Sarpanch;
  font-size: 28px;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;
}

.selected-bot-settings {
  font-size: 18px;
  color: #FFF;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0em;
  margin-right: 15px;
}

.selected-bot-button-container {
  display: flex;
  box-sizing: border-box;
  justify-content: left;
}

.delete-selected-bot-button,
.edit-selected-bot-button {
  margin: 15px;
  border-radius: 30%;
  border: none;
  font-family: Sarpanch;
  width: 100px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.delete-selected-bot-button {
  background-color: #ff4d4f;
  color: white;
}

.edit-selected-bot-button {
  background-color: #1890ff;
  color: white;
}
