body {
    display: flex;
    flex-direction: column;
  }

  .app-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .app-content .SideNavBar {
    width: 200px;
  }

  .app-content .Switch {
    flex-grow: 1;
  }
