.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeed5c4;
  }

  .login-title {
    font-size: 2em;
    color: #333;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .login-button, .demo-login-button {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 5px;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .demo-login-button {
    background-color: #6c757d;
  }

  .demo-login-button:hover {
    background-color: #5a6268;
  }

  .signup-link-text {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
  }

  .signup-link-text a {
    color: #007BFF;
    text-decoration: none;
  }

  .signup-link-text a:hover {
    text-decoration: underline;
  }
