@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400&display=swap');

.HomePageCard {
    width: 780px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #EDF4F8;
    margin: 20px;
    padding: 15px; /* Add padding to reflect the margin of the p tag */

}

.HomePageCard-title {
    margin-left: 15px;
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E93800;
    font-family: 'Sarpanch', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.HomePageCard-p-tag {
    margin-left: 15px;
    color: #000;
    font-family: 'Trispace', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}
