.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
  width: 100%;
  align-items: center;
}

.error-list {
  list-style: none;
  padding-left: 0;
  color: red;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333;
}

.signup-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.signup-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  width: 100%;
}

.signup-button:hover {
  opacity: 0.8;
}

.login-link-text {
  margin-top: 1em;
  font-size: 0.9em;
  color: #333;
}

.login-link-text a {
  color: #007BFF;
  text-decoration: none;
}

.login-link-text a:hover {
  text-decoration: underline;
}
