.bot-card-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap; /* Set the flex-wrap property to nowrap for horizontal scrolling */
  overflow-x: auto; /* Enable horizontal scrolling when content overflows */
}

.bot-card:hover {
  background-color: #50BCE5;
}

.bot-avatar {
  width: 100px; /* Adjust the avatar size to fit inside the square card */
  height: 100px; /* Set the same height as the width to maintain the square shape */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px; /* Add some spacing between the avatar and bot name */
}

.bot-details {
  text-align: center;
}

.bot-name {
  margin: 0;
  font-size: 16px; /* Adjust font size for the bot name */
  font-weight: bold;
  overflow-wrap: anywhere;
}
